<h1>Show Event</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @event.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @event.desc %>
  </li>

  <li>
    <strong>Time:</strong>
    <%= @event.time %>
  </li>

  <li>
    <strong>Done:</strong>
    <%= @event.done %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
